.user-item {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
}

.user-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: #222831;
    background: #f2f2f2;
}

.user-item a:hover,
.user-item a:active {
    background: #f96d00;
}

.user-item__content {
    padding: 0;
    border-radius: 30px;
}

.user-item__image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.user-item__info h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    font-weight: bold;
    color: #222831;
}

.user-item:hover h2,
.user-item:active h2,
.user-item:hover h3,
.user-item:active h3 {
    color: #222831;
}

.user-item__info h3 {
    margin: 0;
}